/* Progress Ring Component */

.progress-ring {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.progress-ring__svg {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-ring__content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
}

/* Spinner Ring - Indeterminate */
.spinner-ring {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spinner-ring__svg {
  animation: spinner-rotate 1s linear infinite;
}

@keyframes spinner-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-ring__circle {
  animation: spinner-dash 1.5s ease-in-out infinite;
}

@keyframes spinner-dash {
  0% {
    stroke-dashoffset: 75%;
  }
  50% {
    stroke-dashoffset: 25%;
  }
  100% {
    stroke-dashoffset: 75%;
  }
}
