.playhead {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  z-index: 100;
  pointer-events: none;
}

.playhead-head {
  position: absolute;
  top: 0;
  left: -6px;
  width: 13px;
  height: 13px;
  background: #f43f5e;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.playhead-line {
  position: absolute;
  top: 13px;
  bottom: 0;
  left: 0;
  width: 1px;
  background: #f43f5e;
}
